*{
   margin: 0;
   box-sizing: border-box
} 
main{
	background-color: orange;
}
.contenidoPrincipal{
	font-size: 1.5rem;
}
nav{
	position: relative;
	bottom: 70px;
	height: 10px;
	left: 20px;
	text-align: center;
}
nav ul li{
  list-style-type: none; 
  display: inline-block;
  font-size: 15px;
  font-family: fantasy;
}
.navBackground{
	background-color: yellow;
	position: sticky;
	z-index: 100px;
	top: 0px;
}
.barraSuperior{
	width: auto;
	height: auto;
	}
img{
 max-width: 100%;
 max-height: 100%;
}
p{
	font-family: cursive;
}
a{
	text-decoration: none;
}

html{
	font-size: 62.5%;
}
